@import "base/normalize.scss";
@import "./utils/variables";
@import "./components/animations";
@import "components/btn";
@import "./components/boxes";
@import "./components/imgs";
@import "./pages/acceuil";
@import "./pages/restau1";
@import "./pages/tablet";
@import "./pages/pcversion";

/*
Need fixing : ACCEUIL 
    Issues:
    -Make Heart animation last without having to keep it clicked.
    -Fix the icon issue with the heart not being full.
    -Maybe change the href to link site+menus since heart needs to be clickeable
        Fix : change ".RestauName" div from <p> to <a> instead?.
    -Loading screen to do.
    -Fix text of Fonctionnement section keep it all in <h1> 
        and use text-align-center + fontsize
    
    
Tablet+Pc version: Starting now.
    Issues :
    -Fix a max width for tablet (9xx?) and another max width for PC (15xx?)
    -Replace element on NavBar entirely.
    
    
    
    Ideas:
    -Tablet :   Keep it like the mobile version, just with slightly bigger width.
    -PC :       Logo to the far right
                Loc to the far left
                Title +Text+button(less bigger) in the middle.
                Functionnement in two line : one title second three little box.
                Restaurant in a vertical way (2-2) Square boxes with beautifull photos.
                Footer takes all size with bigger logo in the middle (1-1-1-1 elem).
*/