

.btn-explain:hover {
    background-color: #f5edff;
    .function_icon{
        color : $primary_color;
    }
}

.Menu_box:hover {
    .green_box {
        display: block;
        height: 160px;
        position: relative;
        left: 100%;
        bottom: 100px;
        width: 20%;
        background-color: $tertiary_color;
        animation: slide-in 1s 1 forwards;
        .fa-circle-check
        {
            color: #f7f7f7;
            font-size: 25px;
            position: relative;
            left: 20px;
            top: 28px;
            animation: rotation 1s 1;
            @keyframes rotation{
                from {
                    transform: rotate(-180deg);
                }
                to {
                    transform: rotate(0deg);
                }
            }
        }
    }
    .Menu_desc {
        width : 62%;
    }
    strong {
        left : 66%;
}
}

.Menu_box {
    animation: printdown 1.5s 1;
    -webkit-animation: printdown 1.5s 1;
}


@keyframes slide-in {
    100% {
        transform:  translateX(-100%);
    }
}

@keyframes printdown {
    0% {
        opacity:0;
        transform:  translateY(10%);
        -webkit-transform:  translateY(10%);
        -moz-transform:  translateY(10%);
        -ms-transform:  translateY(10%);
        -o-transform:  translateY(10%);
}
    50% {
        opacity:0.5;
        transform: translateY(5%)   ;
        -webkit-transform: translateY(5%)   ;
        -moz-transform: translateY(5%)   ;
        -ms-transform: translateY(5%)   ;
        -o-transform: translateY(5%)   ;
}
    100% {
        opacity:1;
        transform: translateY(0%)   ;

}
}

.spinner {
    animation:2.5s 1 spinner forwards;
    animation-play-state: inherit;
    width: 100px;
    height: 100px;
    border: solid 5px #f7f7f7;
    border-bottom-color: #99E2D0;
    border-radius: 50%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform:translate3d(-50%,-50%,0);
    -webkit-transform:translate3d(-50%,-50%,0);
    -moz-transform:translate3d(-50%,-50%,0);
    -ms-transform:translate3d(-50%,-50%,0);
    -o-transform:translate3d(-50%,-50%,0);
    will-change: transform;
    -webkit-animation:2.5s 1 spinner forwards;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);

    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
      visibility: hidden;
      opacity: 0;
    }
}

main {
    animation: 2s 1 hideall;
    -webkit-animation: 2s 1 hideall;
    animation-play-state: inherit;
}

@keyframes hideall {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    99% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility : visible;
        opacity : 1;
    }
}