.RestauBox {
    display: flex;
    flex-direction: column;
    height: 220px;
    width : 90%;
    border-radius: 15px;
    overflow:hidden;
    box-shadow: 0 0px 6px #c1c1c1;
    box-sizing: border-box;
    margin-bottom : 25px;
    margin-left : 5%;
    background-color: white;
    text-decoration: none;
    .RestauName {
        font-weight : bold;
        list-style: none;
        padding-left : 3%;
        margin-top : 10px;
        color : black;
    }
    .RestauLoc {
        margin-top : -15px;
        padding-left : 3%;
        color : black;
    }
    .heart_icons {
        display : flex;
        position : relative;
        left : 88%;
        bottom : 25%;
        width : 10%;
    }
    .toshow {
        position : relative;
        bottom : 0;
        left : 0;
        font-size : 22px;
        color : black;
    }
    
    .fa-solid {
        display : none;
        color : red;
        font-size : 22px;
    }

    .Border_right_new1, .Border_right_new2  {
        border : 5px solid $tertiary_color;
        background-color: $tertiary_color;
        position :absolute;
        width : 70px;
        right : 10%;
        font-weight : 200;
        text-align : center;
        color : #139273
    }
}

.Menu_box {
    width : 94%;
    height : 80px;
    border-radius: 15px;
    overflow:hidden;
    box-shadow: 0 0px 6px #c1c1c1;
    box-sizing: border-box;
    margin-bottom : 20px;
    margin-left : 3%;
    background-color: white;
    text-decoration: none;
    .Menu_name {
        font-weight : bold;
        padding-left : 3%;
        font-size : 18px;
    }
    .Menu_desc {
        margin-left : 3%;
        margin-right : 3%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width : 76%;
        margin-top : -10px;
        font-size : 15px;
    }
    strong {
        position : relative;
        bottom : 33px;
        left : 86%;
    }
    .green_box {
        display : none;
    }
}