.btn-order {
    width: 55%;
    border : none;
    color:white;
    font-weight: bold;
    height: 45px;
    margin-left: 22%;
    border-radius:18px;
    padding-left : 2%;
    padding-right : 2%;
    background: linear-gradient(to bottom right, #eb73da, #a05bdc);
}

.btn-explain {
    background-color: #f7f7f7;
    display : flex;
    justify-content: left;
    align-items : center;
    width : 80%;
    color : black;
    font-weight : bold;
    height : 65px;
    margin-left : 10%;
    margin-right : 10%;
    margin-bottom : 6%;
    border-radius:18px;
    padding : 0;    
    border : none;
    box-shadow: 0 0px 6px #c1c1c1;
    box-sizing: border-box;
    .numbers {
        background-color: $primary_color;
        font-size : 12px;
        height : 10px;
        width : 10px;
        border: 8px solid $primary_color;
        border-radius: 50%;
        color : white;
        margin-left : -13px;
        line-height: 10px;;
    }
    .function_icon {
        margin-left: 8%;
        margin-right : 15%;
    }
}